div {
    border: 1px solid green;
    padding: 10px 10px 5px 2px;
    text-align: center;
    font-size: 15px;
    width: 90%;
    margin: auto;
    color: darkblue;
}

input {
    width: 90%;
    height: 90%;
    font-size: 2.5em;
    border: 1px solid #ccc;
}